<div class="container-md">
  <div class="row">
    <h3 class="display-4 black">Advanced Search for Teachers</h3>
    <button class="options mt-4 ml-5" (click)="goBack()">
      Back to Teachers
    </button>
  </div>

  <div class="input-group mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Select Search Type</span>
      <select class="form-control" [(ngModel)]="selectedSearchType">
        <option *ngFor="let searchType of searchTypeList" [ngValue]="searchType">
          {{searchType}}
        </option>
      </select>
    </div>
  </div>


  <div class="input-group mt-3" *ngIf="selectedSearchType === 'Faculty'">
    <div class="input-group-prepend">
      <ng-select [items]="facultyList"
                 bindLabel="name"
                 placeholder="Select faculties"
                 appendTo="body"
                 multiple="true"
                 [(ngModel)]="selectedFaculties">
      </ng-select>
    </div>
  </div>

  <div class="input-group mt-3" *ngIf="selectedSearchType === 'Cathedra'">
    <div class="input-group-prepend">
      <ng-select [items]="cathedraList"
                 bindLabel="name"
                 placeholder="Select cathedras"
                 appendTo="body"
                 multiple="true"
                 [(ngModel)]="selectedCathedras">
      </ng-select>
    </div>
  </div>

  <div class="input-group mt-3">
    <div class="input-group-prepend">
      <ng-select [items]="filtersList"
                 bindLabel="filter"
                 placeholder="Select Filters"
                 appendTo="body"
                 multiple="true"
                 [(ngModel)]="selectedFilters">
      </ng-select>
    </div>
  </div>

  <!--filters-->
  <div class="input-group mt-3" *ngIf="selectedFilters.includes('select by name')">
    <div class="input-group-prepend">
      <span class="input-group-text">Name Like</span>
      <input required maxlength="100" type="text"
             class="form-control"
             [(ngModel)]="selectedName">
    </div>
  </div>
  <div class="input-group mt-3" *ngIf="selectedFilters.includes('select by gender')">
    <div class="input-group-prepend">
      <span class="input-group-text">Gender</span>
      <select class="form-control" [(ngModel)]="selectedGender">
        <option *ngFor="let gender of genderList" [ngValue]="gender">
          {{gender}}
        </option>
      </select>
    </div>
  </div>
  <div class="input-group mt-3" *ngIf="selectedFilters.includes('select by age')">
    <div class="input-group-prepend">
      <span class="input-group-text">Age</span>
      <input type="number"
             class="form-control"
             [(ngModel)]="selectedAge.from">
      <input type="number"
             class="form-control"
             [(ngModel)]="selectedAge.to">
    </div>
  </div>
  <div class="input-group mt-3" *ngIf="selectedFilters.includes('select by year')">
    <div class="input-group-prepend">
      <span class="input-group-text">Year</span>
      <input type="number"
             class="form-control"
             [(ngModel)]="selectedYear.from">
      <input type="number"
             class="form-control"
             [(ngModel)]="selectedYear.to">
    </div>
  </div>
  <div class="input-group mt-3" *ngIf="selectedFilters.includes('select by wage')">
    <div class="input-group-prepend">
      <span class="input-group-text">Wage</span>
      <input type="number"
             class="form-control"
             [(ngModel)]="selectedWage.from">
      <input type="number"
             class="form-control"
             [(ngModel)]="selectedWage.to">
    </div>
  </div>
  <div class="input-group mt-3" *ngIf="selectedFilters.includes('select by kids')">
    <div class="input-group-prepend">
      <span class="input-group-text">Kids</span>
      <input type="number"
             class="form-control"
             [(ngModel)]="selectedKids.from">
      <input type="number"
             class="form-control"
             [(ngModel)]="selectedKids.to">
    </div>
  </div>
  <div class="input-group mt-3" *ngIf="selectedFilters.includes('select by aspirant')">
    <div class="input-group-prepend">
      <span class="input-group-text">Is Aspirant</span>
    </div>
  </div>
  <div class="input-group mt-3" *ngIf="selectedFilters.includes('select by science works')">
    <div class="input-group-prepend">
      <span class="input-group-text">Science works between</span>
      <input type="number"
             class="form-control"
             [(ngModel)]="selectedSw.from">
      <input type="number"
             class="form-control"
             [(ngModel)]="selectedSw.to">
    </div>
  </div>
  <div class="input-group mt-3">
    <div class="input-group-prepend">
      <ng-select [items]="categoryList"
                 bindLabel="filter"
                 placeholder="Select Teacher Categories"
                 appendTo="body"
                 multiple="true"
                 [(ngModel)]="selectedCategories">
      </ng-select>
    </div>
  </div>
<!--  search button-->
  <div class="input-group mt-3">
    <div class="col-lg-4 m-0 p-0">
      <button class="options-table" (click)="onSubmit()" *ngIf="selectedCathedras.length!=0 || selectedFaculties.length!=0">
        Search
      </button>
    </div>
  </div>
</div>

<!--search results-->
<div class="container-md">
  <div *ngIf="teachers?.length == 0" class="alert alert-warning col-md-10 mt-5" role="alert">
    No students found.
  </div>
  <div class="alert alert-warning col-md-10 mt-5 error-message" role="alert" *ngIf="this.warningFlag" (click)="warningFlag = false" >
    {{this.warningMessage}}
  </div>
  <div class="mt-5 row" *ngIf="teachers.length !== 0">
    <div class="custom-table black">
      <div class="row thead">
        <div class="col-1">ID</div>
        <div class="col-3">Name</div>
        <div class="col-1">ID Faculty</div>
        <div class="col-2">ID Cathedra</div>
        <div class="col-4">Options</div>

      </div>

      <div class="mt-5 stripped">
        <div *ngFor="let teacher of teachers; index as i">
          <div class="row">
            <div class="col-1">{{teacher.id}}</div>
            <div class="col-3">{{teacher.name}}</div>
            <div class="col-1">{{teacher.facultyId}}</div>
            <div class="col-2">{{teacher.idCathedra}}</div>
            <div class="col-4 pt-2">
              <button class="options-table" (click)="deleteTeacher(teacher.id)">
                Delete
              </button>
              <button class="options-table ml-1" (click)="this.showDetails(teacher.id);">
                Details
              </button>
            </div>
            <div class="row mt-1" *ngIf="teacher.id == this.detailsId">
              <div class="col-3">Wage: {{teacher.wage}}</div>
              <div class="col-3">Gender: {{teacher.gender}}</div>
              <div class="col-3">Age: {{teacher.age}}</div>
              <div class="col-3">Kids: {{teacher.kids}}</div>
              <div class="col-3">Is Aspirant: {{teacher.asp}}</div>
              <div class="col-3">Category: {{teacher.category}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
