<div class="container-md">
  <div class="row">
    <h1 class="display-4 black">Students</h1>
  </div>
  <div>
    <div class="row mt-5">
      <div class="search-config">

        <input #myInput placeholder="Search for an student ..."
               class="au-input input-long mt-1" type="text"
               (keyup.enter)="doSearch(myInput.value)"/>

        <button class="options ml-1 mt-1" (click)="doSearch(myInput.value)">
          Search
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <button class="options ml-1 mt-1" (click)="this.markSearch()">
        Search By Marks
      </button>
      <button class="options ml-1 mt-1" (click)="this.advancedSearch()">
        Advanced Search
      </button>
      <button class="options ml-1 mt-1" (click)="this.create()">
        CreateNew
      </button>
    </div>
  </div>
  <div *ngIf="students?.length == 0" class="alert alert-warning col-md-10 mt-5" role="alert">
    No students found.
  </div>
  <div class="alert alert-warning col-md-10 mt-5 error-message" role="alert" *ngIf="this.warningFlag" (click)="warningFlag = false" >
    {{this.warningMessage}}
  </div>
  <div class="mt-5 row" *ngIf="students.length !== 0">
    <div class="custom-table black">
      <div class="row thead">
        <div class="col-1">ID</div>
        <div class="col-3">Name</div>
        <div class="col-1">ID Group</div>
        <div class="col-1">ID Faculty</div>
        <div class="col-4">Options</div>

      </div>

      <div class="mt-5 stripped">
        <div *ngFor="let student of students; index as i">
          <div class="row">
            <div class="col-1">{{student.id}}</div>
            <div class="col-3">{{student.name}}</div>
            <div class="col-1">{{student.idGroup}}</div>
            <div class="col-1">{{student.idFaculty}}</div>
            <div class="col-4 pt-2">
              <button class="options-table" (click)="deleteStudent(student.id)">
                Delete
              </button>
              <button class="options-table ml-1" (click)="this.showDetails(student.id);">
                Details
              </button>
            </div>
            <div class="row mt-1" *ngIf="student.id == this.detailsId">
              <div class="col-5">Stipendium:{{student.stipendium}}</div>
              <div class="col-5">Gender:{{student.gender}}</div>
              <div class="col-5">Age:{{student.age}}</div>
              <div class="col-5">Kids:{{student.kids}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



