<div class="container-md">
  <div class="row">
    <h3 class="display-4 black">Create new Teacher</h3>
    <button class="options mt-4 ml-5" (click)="goBack()">
      Back to Teachers
    </button>
  </div>

  <div class="alert alert-warning col-md-10 mt-5 error-message" role="alert" *ngIf="this.warningFlag"
       (click)="warningFlag = false">
    {{this.warningMessage}}
  </div>
  <div class="input-group mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Name</span>
      <input required maxlength="100" type="text"
             class="form-control"
             [(ngModel)]="selectedName">
    </div>
  </div>

  <div class="input-group mt-3">
    <div class="col-lg-4 m-0 p-0">
      <button class="options-table" (click)="onSubmit()">
        Create
      </button>
    </div>
  </div>
</div>
